In [1]:
##Problem statement

In [2]:
##Classify flower based on petal length

In [3]:
import pandas as pd

In [4]:
data = { 'Color' : ['yellow', 'blue', 'yellow', 'blue', 'yellow', 'blue', 'yellow', 'blue'] ,
        'Length' : ['3', '2', '4', '3', '3.5', '2', '5.5', '1'] ,
        'Width' : ['1.5' , '1', '1.5', '1', '0.5', '0.5', '1', '1']}

In [5]:
df=pd.DataFrame(data, columns = ['Color', 'Length', 'Width'])
df

    Color Length Width
0  yellow      3   1.5
1    blue      2     1
2  yellow      4   1.5
3    blue      3     1
4  yellow    3.5   0.5
5    blue      2   0.5
6  yellow    5.5     1
7    blue      1     1

In [6]:
import numpy as np

In [7]:
def NN(m1, m2, w1, w2, b):
    z = ( m1 * w1 + m2 * w2 ) + b
    return sigmoid(z)

def sigmoid(x):
    return 1/(1+np.exp(-x))

In [8]:
w1=np.random.randn()
w2=np.random.randn()
b=np.random.randn()

In [9]:
w1

0.7733801902010139

In [10]:
w2

0.49981258923687144

In [11]:
b

0.0006306086987918558

In [12]:
NN(2, .5, w1, w2, b)

0.8578196166581333